<mat-card>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input
      rows="5"
      matInput
      placeholder="Ex. The last Saturday..."
      [(ngModel)]="enteredTitle"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Summary</mat-label>
    <textarea
      rows="5"
      matInput
      placeholder="Ex. It makes me feel..."
      [(ngModel)]="enteredContent"
    ></textarea>
    <button mat-raised-button color="primary" (click)="onAddPost()">
      Post
    </button>
  </mat-form-field>
</mat-card>
